.titulo {
    color: rgba(246, 8, 198, 0.811);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 400%;
    text-align: center;
    margin: 5% 5% 5% 5%;
}

.subtitulo {
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 150%;
    text-align: center;
}

.oraciones {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 120%;
}

body {
    background-image: url(../imagenes/fondo.png);
    margin: 0;
    height: 255px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 5% 5% 5% 5%;
    padding: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.menu-fijo {
    background: rgb(246, 166, 219);
    color: rgb(170, 116, 220);
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;


}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-fijo a {
    color: rgb(170, 116, 220);
    text-decoration: none;
}

.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    display: block;
    padding: 0.5rem 1rem;

}

.navegacion ul li a:hover {
    background: rgb(216, 188, 242);
}

.main {
    padding-top: 2rem;
}

.logo {
    display: flex;
    align-items: center;

}